* {
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5e4ac;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fead34;
  width: 900px;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  font-size: 1.8rem;
  background-color: #da3c3d;
  color: #f5e4ac;
  height: 150px;
  padding: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

section.snake {
  padding: 25px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.game-field {
  width: 400px;
  height: 400px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.score-field {
  width: 400px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 10px;
  font-size: 2rem;
  background-color: #da3c3d;
  color: #f5e4ac;
}

canvas {
  display: block;
  background-color: #f5e4ac;
}

.start-button {
  display: block;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  background-color: #3eba9b;
  color: #f5e4ac;
  border: none;
}

.start-button:hover {
  cursor: pointer;
  background-color: #f5e4ac;
  color: #da3c3d;
}

.info {
  flex-basis: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #da3c3d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #f5e4ac;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #3eba9b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.hide {
  display: none;
}
